<!DOCTYPE html>
<html>
<% "Use Strict" %>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Making Tiny URLs
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
        </ul>
        <% if (username === true) { %>
        <form action="/logout" method="POST" style="margin:150px;">
      <button type="submit" style="width: 300px, height: 50px">Logout</button>
    </form>
        <% } else { %>
        <form action="/login" method="POST" style="margin:150px;">
      <label for="login">Username: </label>
      <input id="login" type="text" name="login" placeholder="Enter your username" style="width: 300px, height: 50px">
      <input type="submit" value="Submit">
        <% } %>
    </div>
    <br />
    <br />
</nav>
</html>