<!DOCTYPE html>
<% "Use Strict" %>
<html lang="en">
  <head>
    <title>Login</title>

    <!--This page is self explanatory. The endpoint
        is /login
        -->

  </head>
  	<body>
    <% include partials/_header %>

  		<h2>Login!</h2>
      <h4>We've missed you...</h4>

        <hr />

        <section>
        <form method="POST" action="/login">
        <input type="email" name="email" placeholder="Enter your email">
        </input>
        <input type="password" name="password" placeholder="Enter a password">
        </input>
        <button type="submit">Submit</button>
        </form>
        </section>

  </body>
</html>