<!DOCTYPE html>
<% "Use Strict" %>
<html lang="en">
	<head>
		<title>List of Collected Short URLs</title>
	</head>
<body>
	<h1>Collected Short URLs</h1>
	<p>
		<a href="/urls/new">Shorten Your URL</a>
		<p class="show"> Shortened URLs </p>
  </p>
  <hr />
  <div>
  	<% for(let i = 0; i < urls.length; i++) { %>
  <div>
  	<p>
  	<strong>Site Info:</strong> <%= urls[i].key %>
  	<br />
  	<strong>Site Type:</strong> <%= urls[i].value %>
  	<br />
  	<a href="/urls/<%= i %>">Details</a> 
  	<a href="/urls/<%= i %>/edit">Edit</a>
   </p>
  </div>
 <% } %>
</div>
</body>
</html>