<!DOCTYPE html>
<% "Use Strict" %>
<html lang="en">
	<head>

    <!--This "Show" page is where a user can modify a URL
        that they have submitted. The endpoint is /urls/:id
        -->

	</head>
<body>
    <% include partials/_header %>
	<h3>Change Your URL</h3>
	<p>
		Or <a href="/new">enter a different URL</a>
  </p>
  <hr />
  <div>
  <div>
    <p>Update the URL you entered: </p>
     <form action="/urls/<%=shortURL%>/update" method="POST" style="margin:150px">
      <label for="longURL">Edit this URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px, height: 50px">
      <button type="submit">Update</button>
    </form>
  	<br />
  	<br />
  </div>
</div>
</body>
</html>