<!DOCTYPE html>
<% "Use Strict" %>
<html lang="en">
	<head>

  <!--This page is for editing inputed URLs. 
  The endpoint should be /urls/:id 
      but that is debatable. Investigate.-->

		<title>Inputed URL</title>

	</head>
<body>
	<h1>Change Your URL</h1>
	<p>
		<a href="/new">Enter a Different URL</a>
  </p>
  <hr />
  <div>
  <div>
  	<p>
    <p>Your short URL: <%=url%> </p>
     <form action="/urls/<%=url%>/update" method="POST" style="margin:150px;">
      <label for="longURL">Edit the Full URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px, height: 50px">
      <a href="/urls"><button type="submit">Update</button></a>
    </form>
  	<br />
  	<br />
   </p>
  </div>
</div>
</body>
</html>