<!DOCTYPE html>
<html lang="en">
  <head></head>
  	<body>
  		<h2>List of Collected URLs</h2>
  		<hr />
  		<div><p></p>
  		</div>
  			<li>Go <a href="/new">here</a> for short URLs!</li>
  			<li>Check out our<a href="/about"> About </a> Page.</li>
  			<div>
  			<p>B2xVn2 --> http://www.lighthouselabs.ca<form method="POST" action="/urls/b2xVn2/delete">Delete</form></p>
  			<p>9sm5xk --> http://www.google.com<form method="POST" action="/urls/9sm5xK/delete">Delete</form></p>
  			</div>
  </body>
</html>